h1 {
	font-size: 80px;
	text-align: center;
}
body, footer {
	max-width: 800px;
	margin: auto;
	text-align: left;
}

.pagetext {
	background-color: white;
	color: rgb(80,80,80);
	font-size: 12px;
}

.navlist {
	float: left;
}

.nav a {
	background-color: blue;
	border-color: black;
	border-style: solid;
	color: white;
	text-decoration: none;
}